[Unit]
Description=Caddy
Documentation=https://caddyserver.com/docs/
After=network.target network-online.target
Requires=network-online.target

[Service]
User=unix
Group=unix
WorkingDirectory=/home/unix/www
ExecStart=/usr/bin/caddy run --environ --config /home/unix/www/Caddyfile
ExecReload=/usr/bin/caddy reload --config /home/unix/www/Caddyfile --force
TimeoutStopSec=5s
LimitNOFILE=1048576
LimitNPROC=512
PrivateTmp=true
ProtectSystem=full
AmbientCapabilities=CAP_NET_BIND_SERVICE

[Install]
WantedBy=multi-user.target
